openapi: 3.0.3
info:
  title: Bloxtr8 Escrow API
  version: 1.0.0
  description: API Gateway for escrow operations in Bloxtr8
  contact:
    name: Bloxtr8 API Support
    email: api@bloxtr8.com
  license:
    name: Proprietary

servers:
  - url: https://api.bloxtr8.com
    description: Production server

security:
  - bearerAuth: []

tags:
  - name: Escrow
    description: Escrow management operations
  - name: Payment
    description: Payment confirmation and delivery operations
  - name: Dispute
    description: Dispute management operations
  - name: Admin
    description: Administrative operations
  - name: Milestone
    description: Milestone-based escrow operations

paths:
  /api/escrow:
    post:
      tags:
        - Escrow
      summary: Create a new escrow
      description: Creates a new escrow for an accepted offer. The rail is automatically determined based on amount (≤$10k = STRIPE, >$10k = USDC_BASE).
      operationId: createEscrow
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEscrowRequest'
      responses:
        '201':
          description: Escrow created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEscrowResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Escrow
      summary: List escrows
      description: Retrieve a paginated list of escrows with optional filtering
      operationId: listEscrows
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by escrow status
          schema:
            type: string
            enum:
              [
                AWAIT_FUNDS,
                FUNDS_HELD,
                DELIVERED,
                RELEASED,
                DISPUTED,
                REFUNDED,
                CANCELLED,
              ]
        - name: rail
          in: query
          description: Filter by payment rail
          schema:
            type: string
            enum: [STRIPE, USDC_BASE]
        - name: buyerId
          in: query
          description: Filter by buyer ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
        - name: sellerId
          in: query
          description: Filter by seller ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: List of escrows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}:
    get:
      tags:
        - Escrow
      summary: Get escrow by ID
      description: Retrieve detailed information about a specific escrow
      operationId: getEscrow
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      responses:
        '200':
          description: Escrow details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/confirm-payment:
    post:
      tags:
        - Payment
      summary: Confirm payment manually
      description: Manually confirm payment for off-band payments (e.g., custodial fiat wires)
      operationId: confirmPayment
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentRequest'
      responses:
        '200':
          description: Payment confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/mark-delivered:
    post:
      tags:
        - Payment
      summary: Mark delivery as complete
      description: Seller marks delivery as complete with proof
      operationId: markDelivered
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkDeliveredRequest'
      responses:
        '200':
          description: Delivery marked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/confirm-delivery:
    post:
      tags:
        - Payment
      summary: Confirm delivery receipt
      description: Buyer confirms receipt of delivery, triggering fund release
      operationId: confirmDelivery
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      responses:
        '200':
          description: Delivery confirmed, funds released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmDeliveryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/dispute:
    post:
      tags:
        - Dispute
      summary: Open a dispute
      description: Buyer or seller opens a dispute for an escrow
      operationId: createDispute
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisputeRequest'
      responses:
        '201':
          description: Dispute created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/escrow/{id}/dispute/{disputeId}/resolve:
    post:
      tags:
        - Dispute
      summary: Resolve dispute
      description: Admin resolves a dispute by releasing funds or refunding buyer
      operationId: resolveDispute
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
        - name: disputeId
          in: path
          required: true
          description: Dispute ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveDisputeRequest'
      responses:
        '200':
          description: Dispute resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/release:
    post:
      tags:
        - Admin
      summary: Release funds to seller
      description: Admin manually releases funds to seller
      operationId: releaseFunds
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseFundsRequest'
      responses:
        '200':
          description: Funds released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/refund:
    post:
      tags:
        - Admin
      summary: Refund buyer
      description: Admin issues refund to buyer
      operationId: refundBuyer
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Refund processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/milestones:
    post:
      tags:
        - Milestone
      summary: Create milestones
      description: Create milestones for an escrow
      operationId: createMilestones
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMilestonesRequest'
      responses:
        '201':
          description: Milestones created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MilestonesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/escrow/{id}/milestones/{milestoneId}/release:
    post:
      tags:
        - Milestone
      summary: Release milestone funds
      description: Release funds for a specific milestone
      operationId: releaseMilestone
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Escrow ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
        - name: milestoneId
          in: path
          required: true
          description: Milestone ID
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            maxLength: 100
      responses:
        '200':
          description: Milestone funds released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained via Better Auth endpoints. Must be used over HTTPS only.

  schemas:
    Escrow:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
          description: Escrow ID
        rail:
          type: string
          enum: [STRIPE, USDC_BASE]
          description: Payment rail
        amount:
          type: string
          pattern: '^[0-9]+$'
          maxLength: 20
          description: Amount in cents (BigInt serialized as string)
        currency:
          type: string
          enum: [USD, USDC]
          description: Currency code
        status:
          type: string
          enum:
            [
              AWAIT_FUNDS,
              FUNDS_HELD,
              DELIVERED,
              RELEASED,
              DISPUTED,
              REFUNDED,
              CANCELLED,
            ]
          description: Current escrow status
        offerId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
          description: Associated offer ID
        contractId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
          description: Associated contract ID
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: Expiration timestamp
        autoRefundAt:
          type: string
          format: date-time
          nullable: true
          description: Auto-refund timestamp
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
        version:
          type: integer
          minimum: 0
          maximum: 2147483647
          description: Optimistic locking version

    CreateEscrowRequest:
      type: object
      additionalProperties: false
      required:
        - offerId
        - contractId
        - rail
        - amount
        - currency
      properties:
        offerId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
          description: Offer ID
        contractId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
          description: Contract ID
        rail:
          type: string
          enum: [STRIPE, USDC_BASE]
          description: Payment rail
        amount:
          type: string
          pattern: '^[0-9]+$'
          maxLength: 20
          description: Amount in cents (BigInt serialized as string)
        currency:
          type: string
          enum: [USD, USDC]
          description: Currency code
        sellerStripeAccountId:
          type: string
          pattern: '^acct_[a-zA-Z0-9]+$'
          maxLength: 200
          description: Seller's Stripe Connect account ID (required for STRIPE rail)
        buyerFee:
          type: number
          minimum: 0
          maximum: 999999999
          description: Platform fee charged to buyer (in cents)
        sellerFee:
          type: number
          minimum: 0
          maximum: 999999999
          description: Platform fee charged to seller (in cents)
        idempotencyKey:
          type: string
          format: uuid
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
          maxLength: 36
          description: Idempotency key for request deduplication

    CreateEscrowResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: false
          properties:
            escrowId:
              type: string
              pattern: '^[a-zA-Z0-9_-]+$'
              maxLength: 100
            clientSecret:
              type: string
              pattern: '^.{1,500}$'
              maxLength: 500
              description: Stripe client secret (STRIPE rail only)
            paymentIntentId:
              type: string
              pattern: '^pi_[a-zA-Z0-9]+$'
              maxLength: 200
              description: Stripe payment intent ID (STRIPE rail only)
            depositAddress:
              type: string
              pattern: '^0x[a-fA-F0-9]{40}$'
              maxLength: 42
              description: Deposit address (USDC_BASE rail only)
            status:
              type: string
              enum: [AWAIT_FUNDS]

    EscrowResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/EscrowDetail'

    EscrowDetail:
      allOf:
        - $ref: '#/components/schemas/Escrow'
        - type: object
          properties:
            offer:
              $ref: '#/components/schemas/Offer'
            contract:
              $ref: '#/components/schemas/Contract'
            stripeEscrow:
              $ref: '#/components/schemas/StripeEscrow'
              nullable: true
            stablecoinEscrow:
              $ref: '#/components/schemas/StablecoinEscrow'
              nullable: true
            deliveries:
              type: array
              maxItems: 100
              items:
                $ref: '#/components/schemas/Delivery'
            disputes:
              type: array
              maxItems: 100
              items:
                $ref: '#/components/schemas/Dispute'
            auditLogs:
              type: array
              maxItems: 1000
              items:
                $ref: '#/components/schemas/AuditLog'

    EscrowListResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        data:
          type: array
          maxItems: 50
          items:
            $ref: '#/components/schemas/Escrow'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      additionalProperties: false
      properties:
        page:
          type: integer
          minimum: 1
          maximum: 10000
        limit:
          type: integer
          minimum: 1
          maximum: 50
        total:
          type: integer
          minimum: 0
          maximum: 2147483647
        totalPages:
          type: integer
          minimum: 0
          maximum: 2147483647
        hasPrev:
          type: boolean
        hasNext:
          type: boolean

    Offer:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        buyerId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        sellerId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        amount:
          type: string
          pattern: '^[0-9]+$'
          maxLength: 20
        currency:
          type: string
          maxLength: 10
        status:
          type: string
          maxLength: 50

    Contract:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        offerId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        status:
          type: string
          maxLength: 50

    StripeEscrow:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        paymentIntentId:
          type: string
          pattern: '^pi_[a-zA-Z0-9]+$'
          maxLength: 200
        transferId:
          type: string
          pattern: '^tr_[a-zA-Z0-9]+$'
          maxLength: 200
          nullable: true
        refundId:
          type: string
          pattern: '^re_[a-zA-Z0-9]+$'
          maxLength: 200
          nullable: true
        amountCaptured:
          type: integer
          minimum: 0
          maximum: 2147483647
          nullable: true
        currency:
          type: string
          maxLength: 10
          nullable: true

    StablecoinEscrow:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        chain:
          type: string
          maxLength: 50
        depositAddr:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
          maxLength: 42
        depositTx:
          type: string
          pattern: '^0x[a-fA-F0-9]{64}$'
          maxLength: 66
          nullable: true
        releaseTx:
          type: string
          pattern: '^0x[a-fA-F0-9]{64}$'
          maxLength: 66
          nullable: true
        custodyProvider:
          type: string
          maxLength: 100
          nullable: true
        mintAddress:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
          maxLength: 42

    Delivery:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        title:
          type: string
          pattern: '^.{1,200}$'
          maxLength: 200
        description:
          type: string
          pattern: '^.{0,5000}$'
          maxLength: 5000
          nullable: true
        status:
          type: string
          pattern: '^.{1,50}$'
          maxLength: 50
        deliveredAt:
          type: string
          format: date-time
          nullable: true
        deliveredBy:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        evidence:
          type: object
          additionalProperties: true
          nullable: true

    Dispute:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        escrowId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        userId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        reason:
          type: string
          pattern: '^.{1,100}$'
          maxLength: 100
        description:
          type: string
          pattern: '^.{0,5000}$'
          maxLength: 5000
        status:
          type: string
          pattern: '^.{1,50}$'
          maxLength: 50
        createdAt:
          type: string
          format: date-time

    AuditLog:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        action:
          type: string
          maxLength: 100
        details:
          type: object
          additionalProperties: true
        userId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
          nullable: true
        createdAt:
          type: string
          format: date-time

    ConfirmPaymentRequest:
      type: object
      additionalProperties: false
      required:
        - transactionId
      properties:
        transactionId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 200
          description: Transaction ID or hash
        evidence:
          type: string
          pattern: '^.{0,5000}$'
          maxLength: 5000
          description: Additional evidence (optional)

    MarkDeliveredRequest:
      type: object
      additionalProperties: false
      required:
        - title
      properties:
        title:
          type: string
          pattern: '^.{1,200}$'
          maxLength: 200
          description: Delivery title
        description:
          type: string
          pattern: '^.{0,5000}$'
          maxLength: 5000
          description: Delivery description
        evidence:
          type: object
          additionalProperties: true
          description: Delivery evidence (screenshots, API responses, etc.)

    DeliveryResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        escrow:
          $ref: '#/components/schemas/Escrow'
        delivery:
          $ref: '#/components/schemas/Delivery'

    ConfirmDeliveryResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        escrow:
          $ref: '#/components/schemas/Escrow'
        transferId:
          type: string
          pattern: '^tr_[a-zA-Z0-9]+$'
          maxLength: 200
          nullable: true

    CreateDisputeRequest:
      type: object
      additionalProperties: false
      required:
        - reason
        - description
      properties:
        reason:
          type: string
          pattern: '^.{1,100}$'
          maxLength: 100
          description: Dispute reason
        description:
          type: string
          pattern: '^.{0,5000}$'
          maxLength: 5000
          description: Detailed description
        evidence:
          type: array
          maxItems: 50
          items:
            type: object
            additionalProperties: true
          description: Evidence attachments

    DisputeResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Dispute'

    ResolveDisputeRequest:
      type: object
      additionalProperties: false
      required:
        - resolution
        - reason
      properties:
        resolution:
          type: string
          enum: [RELEASE, REFUND]
          description: Resolution decision
        reason:
          type: string
          pattern: '^.{1,5000}$'
          maxLength: 5000
          description: Resolution reason

    ReleaseFundsRequest:
      type: object
      additionalProperties: false
      properties:
        reason:
          type: string
          pattern: '^.{1,5000}$'
          maxLength: 5000
          description: Optional reason for release

    ReleaseResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: false
          properties:
            transferId:
              type: string
              pattern: '^tr_[a-zA-Z0-9]+$'
              maxLength: 200
            amount:
              type: string
              pattern: '^[0-9]+$'
              maxLength: 20
            currency:
              type: string
              pattern: '^[A-Z]{2,10}$'
              maxLength: 10

    RefundRequest:
      type: object
      additionalProperties: false
      required:
        - reason
      properties:
        refundAmount:
          type: number
          minimum: 0
          maximum: 999999999
          description: Partial refund amount in cents (optional, defaults to full)
        reason:
          type: string
          pattern: '^.{1,5000}$'
          maxLength: 5000
          description: Refund reason

    RefundResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: false
          properties:
            refundId:
              type: string
              pattern: '^re_[a-zA-Z0-9]+$'
              maxLength: 200
            amount:
              type: string
              pattern: '^[0-9]+$'
              maxLength: 20
            currency:
              type: string
              pattern: '^[A-Z]{2,10}$'
              maxLength: 10

    CreateMilestonesRequest:
      type: object
      additionalProperties: false
      required:
        - milestones
      properties:
        milestones:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: '#/components/schemas/MilestoneInput'

    MilestoneInput:
      type: object
      additionalProperties: false
      required:
        - title
        - amountCents
      properties:
        title:
          type: string
          pattern: '^.{1,200}$'
          maxLength: 200
          description: Milestone title
        amountCents:
          type: integer
          minimum: 1
          maximum: 999999999
          description: Milestone amount in cents

    MilestonesResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        data:
          type: array
          maxItems: 50
          items:
            $ref: '#/components/schemas/Milestone'

    Milestone:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 100
        title:
          type: string
          pattern: '^.{1,200}$'
          maxLength: 200
        amountCents:
          type: integer
          minimum: 0
          maximum: 2147483647
        status:
          type: string
          enum:
            [
              AWAIT_FUNDS,
              FUNDS_HELD,
              DELIVERED,
              RELEASED,
              DISPUTED,
              REFUNDED,
              CANCELLED,
            ]

    SuccessResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        message:
          type: string
          pattern: '^.{0,5000}$'
          maxLength: 5000

    ProblemDetails:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          format: uri
          pattern: '^https?://.+$'
          maxLength: 500
          description: Error type URI
        title:
          type: string
          pattern: '^.{1,200}$'
          maxLength: 200
          description: Error title
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: HTTP status code
        detail:
          type: string
          pattern: '^.{0,5000}$'
          maxLength: 5000
          description: Detailed error message
        instance:
          type: string
          format: uri
          pattern: '^https?://.+$'
          maxLength: 500
          description: Request instance URI
        errors:
          type: array
          maxItems: 100
          items:
            type: object
            additionalProperties: false
            properties:
              field:
                type: string
                pattern: '^.{1,100}$'
                maxLength: 100
              message:
                type: string
                pattern: '^.{1,5000}$'
                maxLength: 5000
          description: Validation errors (if applicable)
        timestamp:
          type: string
          format: date-time
          description: Error timestamp

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/bad-request
            title: Bad Request
            status: 400
            detail: Invalid request format
            instance: /api/escrow
            timestamp: '2025-01-02T12:00:00.000Z'

    Unauthorized:
      description: Unauthorized - missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/unauthorized
            title: Unauthorized
            status: 401
            detail: Missing or invalid authentication token
            instance: /api/escrow
            timestamp: '2025-01-02T12:00:00.000Z'

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/forbidden
            title: Forbidden
            status: 403
            detail: Insufficient permissions to access this resource
            instance: /api/escrow/123
            timestamp: '2025-01-02T12:00:00.000Z'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/not-found
            title: Not Found
            status: 404
            detail: The requested escrow was not found
            instance: /api/escrow/123
            timestamp: '2025-01-02T12:00:00.000Z'

    NotAcceptable:
      description: Not acceptable - requested content type not supported
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/not-acceptable
            title: Not Acceptable
            status: 406
            detail: Requested content type not supported
            instance: /api/escrow
            timestamp: '2025-01-02T12:00:00.000Z'

    UnsupportedMediaType:
      description: Unsupported media type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/unsupported-media-type
            title: Unsupported Media Type
            status: 415
            detail: Request content type not supported
            instance: /api/escrow
            timestamp: '2025-01-02T12:00:00.000Z'

    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/conflict
            title: Conflict
            status: 409
            detail: Invalid state transition or resource conflict
            instance: /api/escrow/123/dispute
            timestamp: '2025-01-02T12:00:00.000Z'

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/validation-error
            title: Validation Error
            status: 422
            detail: Invalid request payload
            instance: /api/escrow
            errors:
              - field: amount
                message: Amount must be a positive integer
            timestamp: '2025-01-02T12:00:00.000Z'

    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/rate-limit-exceeded
            title: Rate Limit Exceeded
            status: 429
            detail: Too many requests
            instance: /api/escrow
            timestamp: '2025-01-02T12:00:00.000Z'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://bloxtr8.com/problems/internal-server-error
            title: Internal Server Error
            status: 500
            detail: An unexpected error occurred
            instance: /api/escrow
            timestamp: '2025-01-02T12:00:00.000Z'
